@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0E0502;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geologica), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.drop-shadow-meow {
  filter: drop-shadow(0px 0px 10px #8fe5f860);
}

@keyframes show-toast {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  } 10% {
    opacity: 1;
    transform: translateY(0);
  } 90% {
    opacity: 1;
    transform: translateY(0);
  } 100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.animate-show-toast {
  animation: show-toast 5s ease-in-out;
}

img {
  user-select: none;
}
